.wfm-parent {
  height: 500px;
  border: solid 3px #EEE;
  position: relative;
  top:20px;

}
.wfm-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
 flex-direction: row;
  overflow: hidden;
}

/* #js-canvas {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
} */
#js-properties-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 260px;
    z-index: 10;
    border-left: 1px solid #ccc;
    overflow: auto;
  }

  
  